<footer class="footer" id="atendimento">
  <div class="container mb-4">
    <div class="row">
      <div class="col-lg-6 h-100 text-center text-lg-left b2">
        <h1>Veja Também</h1>
        <ul class="mb-2 veja-tambem">
          <li class="">
            <a href="#">Site Cliente</a>
          </li>
          <li class="">
            <a href="#">Site Cartão</a>
          </li>
          <li class="">
            <a href="#">Site Seguradora</a>
          </li>
          <li class="">
            <a href="#">Termos e Condições</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-6 h-100 text-center text-lg-right">
        <h1>Conheça Mais</h1>
        <ul class="lista-conheca-mais">
          <li class="icone-rede-social icone-instagram">
            <a href="https://www.instagram.com/lojasnalin/" target="_blank" class="">
              Clique para acessar o nosso Instagram
            </a>
          </li>
          <li class="icone-rede-social icone-facebook">
            <a href="https://www.facebook.com/LojasNalin/" target="_blank" class="">
              Clique para acessar o nosso Facebook
            </a>
          </li>
          <li class="icone-rede-social icone-whatsapp">
            <a href="#" class="">
              Clique para acessar o nosso Whatsapp
            </a>
          </li>
          <li class="icone-rede-social icone-email">
            <a href="#" class="">
              Clique para nos enviar um e-mail
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="text-center copyright">
    <p>Copyright © Lojas Nalin 2020. Todos os direitos reservados.</p>
  </div>
</footer>
